body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  color:#0f0f0f;
  font-weight:900;
}

.downunder{
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

label{
  margin-bottom: 4px;
  font-weight:900;
  font-size: 24px;
}

select{
  margin-bottom: 4px;
}

button{
  margin: 8px 8px 8px 0px;
  padding: 4px;
  font-weight:900;
  background-color: #f0f0f0;
  border: solid 2px #000;
}

.box-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: aliceblue;
  max-width: 480px;
  border: solid 2px #000;
  margin: 24px;
}

.button-wrapper{
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

option{
  font-size: 18px;
}

button:focus {
  background-color: #e0e0e0;
  outline: 2px solid blue;
}
